{% extends 'form_div_layout.html.twig' %}

{% block image_widget %}
{% spaceless %}

<div class="form_image">
    {% if image_url is not null %}
    <img src="{{ asset(image_uri|resolve(gaufrette)) }}" alt="{{ image_alt }}"{% if image_height > 0 %} height="{{ image_height }}"{% endif %}{% if image_width > 0 %} width="{{ image_width }}"{% endif %}/>
    {% else %}
    {% trans %}No image uploaded.{% endtrans %}
    {% endif %}
</div>
{{ block('form_widget') }}

{% endspaceless %}
{% endblock %}

